@import "tailwindcss";

@layer components {
  .wrapper {
    @apply min-w-screen min-h-screen flex justify-center;
  }
  .avatar {
    @apply w-[30px] h-[30px] rounded-full absolute mt-[5px] right-0;
  }
  .header-container {
    @apply w-screen h-[40px]   flex flex-col border-b-[2px] border-b-[#f0edeb] items-center justify-center;
  }
  .header-content {
    @apply flex justify-center items-center relative  mt-[-5px] min-w-[480px] max-w-[1400px] w-6/7;
  }
  .navigation-container {
    @apply flex flex-row justify-around absolute w-1/2 max-w-[270px]  mt-[7px];
  }
  .navigation-element {
    @apply hover:border-b-[1px] border-b-[#a1633a] transition-all duration-300;
  }
}

* {
  font-family: "Sour Gummy";
  font-size: 12px;
  color: #a1633a;
}
body {
  width: 100vw;
  heigh: 100vw;
  display: flex;
  background-color: #ffffff;
}

.comic-relief {wTimer
  font-family: "Comic Relief";
}
